<div class="container">
  <div class="row form-group">
    <div class="col-2 ">
      <img class="Logo"
      src="../../../../assets/img/logo.png" alt="">
    </div>
    <div class="col-10 bg-danger">
        <span>SHOP BEN BEN</span>
        <span>Chuyên sỉ lẻ gấu bông giá rẻ</span>
        <span class="float:left">TỔNG ĐÀI CSKH: <a href="tel:+19009095" class="Blondie"> 19009095 </a></span>
        <!-- <div>
            <h1 class="">SHOP BEN BEN</h1>
            <h1 class="">Chuyên sỉ lẻ gấu bông giá rẻ</h1>
        </div>
        <div class="d-flex">
            <h1 >TỔNG ĐÀI CSKH: <a href="tel:+19009095"
                    class="Blondie">
                    19009095 </a></h1>
             //Menu tài khoản
            <div class="account">
                <button class='btn-tai-khoan' style="border-color: transparent !important;" id="dropdownMenu1"
                    data-toggle="dropdown" class="btn-outline-secondary"><i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right mt-2">


                </ul>
            </div>
             <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar">test</button>
    </div>
    </div> -->
    </div>
  </div>
</div>




  <!-- <app-nav class="wrapper-component-nav" [tabs]="tabs" (tabsEventEmitter)="getTabs($event)"
      (selectedEventEmitter)="getSelected($event)" [listMenuTreeData]="listMenuTreeData"
      (listMenuTreeDataEventEmitter)="getListMenuTreeData($event)" (selectedHSBA)="changeSelectHSBA($event)">
  </app-nav> -->
  <div class="row">
      <div class="col-2">
          <!-- <h1>test</h1> -->
          <!-- <app-nav-menu [tabs]="tabs"
          [listMenuTreeData]="listMenuTreeData"></app-nav-menu> -->

      </div>


  </div>


