<section class="wrapper-component">
  <div class="wrapper-nav-header">
    <img class="Logo"
    src="../../../../assets/img/logo.png" alt="">
      <div class="wrapper-nav-header-title">
          <div>
              <h1 class="wrapper-nav-header-title-main">SHOP BEN BEN</h1>
              <h1 class="wrapper-nav-header-title-main">Chuyên sỉ lẻ gấu bông giá rẻ</h1>
          </div>
          <div style="align-items: center;" class="d-flex">
              <h1 class="wrapper-nav-header-title-contact mr-2">TỔNG ĐÀI CSKH: <a href="tel:+19009095"
                      class="Blondie">
                      19009095 </a></h1>
              <!-- //Menu tài khoản  -->
              <div class="account">
                  <button class='btn-tai-khoan' style="border-color: transparent !important;" id="dropdownMenu1"
                      data-toggle="dropdown" class="btn-outline-secondary"><i class="bi bi-person-circle"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right mt-2">


                  </ul>
              </div>
              <!-- <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                  data-target="#exCollapsingNavbar">test</button> -->
          </div>
      </div>
  </div>
  <!-- <app-nav class="wrapper-component-nav" [tabs]="tabs" (tabsEventEmitter)="getTabs($event)"
      (selectedEventEmitter)="getSelected($event)" [listMenuTreeData]="listMenuTreeData"
      (listMenuTreeDataEventEmitter)="getListMenuTreeData($event)" (selectedHSBA)="changeSelectHSBA($event)">
  </app-nav> -->
  <div class="row">
      <div class="col-2">
          <!-- <h1>test</h1> -->
          <!-- <app-nav-menu [tabs]="tabs"
          [listMenuTreeData]="listMenuTreeData"></app-nav-menu> -->

      </div>


  </div>

</section>
