<section class="wrapper-component">
  <div class="wrapper-nav-header">
    <app-header></app-header>
  </div>
  <!-- <app-nav class="wrapper-component-nav" [tabs]="tabs" (tabsEventEmitter)="getTabs($event)"
      (selectedEventEmitter)="getSelected($event)" [listMenuTreeData]="listMenuTreeData"
      (listMenuTreeDataEventEmitter)="getListMenuTreeData($event)" (selectedHSBA)="changeSelectHSBA($event)">
  </app-nav> -->
  <div class="row">
      <div class="col-2">
          <!-- <h1>test</h1> -->
          <!-- <app-nav-menu [tabs]="tabs"
          [listMenuTreeData]="listMenuTreeData"></app-nav-menu> -->

      </div>


  </div>

</section>
