<div class="wrapper">
<div class="header">
    <div class="logo col-md-3">logo</div>
    <form class="name col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Nhập sản phẩm cần tìm</mat-label>
          <input type="text" matInput [formControl]="search">
        <button class="example-button-container" mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>search</mat-icon>
          </button>
          </mat-form-field>
          <label for="select-sach">Tìm kiếm sách thể loại: </label>

      </form>
      <input id="select-sach" list="sach" placeholder="Nhập thể loại..." />

          <datalist style="maxHeight: 200px" id="sach" >
              <option value="Kinh Doanh">
              <option value="Kỹ Năng">
              <option value="Tâm Lý">
              <option value="Y Học">
              <option value="Văn Học">
              <option value="Tiểu Thuyết">
              <option value="Tiểu Sử">
                <option value="Kinh Doanh1">
                  <option value="Kỹ Năng1">
                  <option value="Tâm Lý1">
                  <option value="Y Học1">
                  <option value="Văn Học1">
                  <option value="Tiểu Thuyết1">
                  <option value="Tiểu Sử1">
                    <option value="Kinh Doanh2">
                      <option value="Kỹ Năng2">
                      <option value="Tâm Lý2">
                      <option value="Y Học2">
                      <option value="Văn Học2">
                      <option value="Tiểu Thuyết2">
                      <option value="Tiểu Sử2">

          </datalist>
    <div class="sdt col-md-3">sđt</div>
</div>
<div>contener</div>
<div>fooder</div>
</div>



